body {
    margin: 0;
    padding: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: #f9f9f9;
    color: #333;
    text-align: center;
    background-image: linear-gradient(to bottom right,rgba(51,51,51,0.8),rgba(0,0,0,0.85),rgba(26,26,26,0.8));

  }
  
  h1 {
    margin-top: 2rem;
    color: #ffffff;
  }
  
  .gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
    padding: 2rem;
  }
  
  .gallery img {
    width: 300px;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
  }

  section{
    margin: 40px;
    border: 3px solid hsl(0, 0%, 100%, 0.3);
    padding: 0.5em;
    border-radius: 1em;
    background:hsl(0, 0%, 100%, 0.2) ;
    backdrop-filter: blur(2px);
    box-shadow: inset 0 0 8px 1px hsl(0, 0%, 100%, 0.3);
  }
  
  .gallery img:hover {
    transform: scale(1.05);
  }

    .gallery video {
    width: 300px;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
  }
  
  .gallery video:hover {
    transform: scale(1.05);
  }
  

::-webkit-scrollbar{
    width: 10px;
    border-radius: 10px;

}

::-webkit-scrollbar-thumb{
    background-color: #1ed760;
    border-radius: 10px;
}

::-webkit-scrollbar-track{
    background-color: #ffffff;
}