*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


html{
    scroll-behavior: smooth;
    scroll-padding-top: 100px;
}


#container {
    width: 100%;
    height: 100vh;
    position: relative;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    width: 100%;
    background-image: linear-gradient(#1DB954,#1ED760);
    z-index: 1;
    padding: 20px 125px;
    backdrop-filter: blur(50px);
    box-shadow: 0 0 10px rgba(0, 215, 96, 0.6), 0 0 20px rgba(0, 215, 96, 0.5), 0 0 40px rgba(0, 215, 96, 0.4);
}



#mat{
    text-decoration: none;
    color: #201A1E;
    font-size: 20px;
    font-family: "Bitcount Grid Double", system-ui;
    font-weight: 700;
    transition: transform 0.3s;
}

#home {
    padding-top: 80px;
}

body{
    background-image: linear-gradient(to bottom right,rgba(51,51,51,0.8),rgba(0,0,0,0.85),rgba(26,26,26,0.8));
}

.listitem {
    list-style: none;
    display: inline;
    margin: 0px 20px;
}

.links {
    color: black;
    text-decoration: none;
    font-weight: 500;
   
}

.links:hover {
    color: #ffffff;
}

#mat:hover {
    color: #ffffff;
    text-shadow:0 0 10px rgb(200, 203, 202,0.4), 0 0 20px rgb(212, 212, 212,0.3), 0 0 40px rgb(255, 255, 255,0.2);
    transform: scale(1.05);
}



.home-content {
    margin: 8% 0px 0px 8%;
}

#username {
    font-size: 50px;
    margin-bottom: 1px;
    font-family: "Bitcount Grid Double", system-ui;
    font-weight: 500;
    color: #ffffff;
    text-shadow:0 0 10px rgb(200, 203, 202,0.4), 0 0 20px rgb(212, 212, 212,0.3), 0 0 40px rgb(255, 255, 255,0.2);
    
}

#lastname {
    font-family: "Bitcount Grid Double", system-ui;
    font-weight: 500;
    color: #1ED760;
    text-shadow: 0 0 10px rgba(0, 215, 96, 0.4), 0 0 20px rgba(0, 215, 96, 0.3), 0 0 40px rgba(0, 215, 96, 0.2);
}

#userdetails{
line-height: 2.5;
font-size: 20px;
color: #ffffff;
}

#download{
    text-decoration: none;
    background-color: black;
    color: white;
    padding:15px;
    border-radius: 20px;
    display:inline-block;
    transition: transform 0.3s;
}

#download:hover{
    background-color: #1ED760;
    box-shadow: 0 0 10px rgba(0, 215, 96, 0.6), 0 0 20px rgba(0, 215, 96, 0.5), 0 0 40px rgba(0, 215, 96, 0.4);
    color: #201A1E;  
    transform: scale(1.05);
  
}

#boo{
    color: #1ED760;
    text-decoration: none;
    text-shadow: 0 0 10px rgba(0, 215, 96, 0.4), 0 0 20px rgba(0, 215, 96, 0.3), 0 0 40px rgba(0, 215, 96, 0.2);
}

.home-image{
    width:45%;
    height:75%;
    bottom:0px;
    position: absolute;
    right:30px;
}

.group1{
    position: absolute;
    height:100%;
    bottom:0px;
    left: 50%;
    transform: translateX(-50%);
    transition: bottom 2s, left 1s;
}

/* .home-image:hover #shape{
    bottom: 90px;
}
.home-image:hover #person{
    left: 40%;
} */

#shape{
    height: 350px;
    padding-right: 20px;
}

#person{
    top: -50px;
}

#about{
    margin: 35% 8% 0px 8% ;
    border: 3px solid hsl(0, 0%, 100%, 0.3);
    padding: 1em;
    border-radius: 1em;
    background:hsl(0, 0%, 100%, 0.2) ;
    backdrop-filter: blur(2px);
    box-shadow: inset 0 0 8px 1px hsl(0, 0%, 100%, 0.3);
}

.sectionHead{
    text-align: center;
    color: #ffffff;
}

.mainHead{
    font-size: 30px;
}

.subHead{
    font-size: 20px;
    color: #201A1E;
    padding-bottom: 30px;
}

.aboutBody{
    margin-top: 60px;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    align-items: center;
}

.img1{
    width: 80%;
    border: solid #ffffff 7px;
}

.aboutContent{
    font-size: 20px;
    line-height: 1.8rem;
    text-align: justify;
    color: #ffffff;
}

#h{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.information{
    margin-top: 1.3rem;
}

.infox{
    margin-bottom: 10px;
}

.infox>span{
    margin-left: 1rem;
}

#skill{
    margin: 25% 8% 0px 8%;
    border: 3px solid hsl(0, 0%, 100%, 0.3);
    padding: 1em;
    border-radius: 1em;
    background:hsl(0, 0%, 100%, 0.2) ;
    backdrop-filter: blur(2px);
    box-shadow: inset 0 0 8px 1px hsl(0, 0%, 100%, 0.3);
}

.skillContent{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    align-items: center;
    gap: 2rem;
    margin-top: 50px;
    color: #ffffff;
}

.bars{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    padding: 1rem 0px;
    top: -20px;
}


.skillp{
    font-size: 20px;
    text-align: justify;
    line-height: 1.8rem;
}

.barHead,.barPercent{
    font-weight: 500;
}

.baseBar{
    width: 100%;
    height: 0.5rem;
    background-color: black;
    position: absolute;
    border-radius: 10px;
    bottom: 0px;

}

.portBar{
    background-color: rgb(93, 172, 14);
    width: 85%;
    box-shadow: 0 0 10px rgba(0, 215, 96, 0.4), 0 0 20px rgba(0, 215, 96, 0.3), 0 0 40px rgba(0, 215, 96, 0.2);
}

.LandBar{
    background-color: rgb(93, 172, 14);
    width: 81%;
    box-shadow: 0 0 10px rgba(0, 215, 96, 0.4), 0 0 20px rgba(0, 215, 96, 0.3), 0 0 40px rgba(0, 215, 96, 0.2);
    
}

.EBar{
    background-color: rgb(93, 172, 14);
    width: 65%;
    box-shadow: 0 0 10px rgba(0, 215, 96, 0.4), 0 0 20px rgba(0, 215, 96, 0.3), 0 0 40px rgba(0, 215, 96, 0.2);
}

.WBar{
    background-color: rgb(93, 172, 14);
    width: 78%;
    box-shadow: 0 0 10px rgba(0, 215, 96, 0.4), 0 0 20px rgba(0, 215, 96, 0.3), 0 0 40px rgba(0, 215, 96, 0.2);
}


#contacts{
    margin: 8% 8% 0px 8%;
    padding-top: 30px;
    
}

#con{
    font-size: 25px;
    color: #201A1E;
}

#con1{
    font-size: 20px;
}

.iconcollection{
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #1ED760;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px 10px;
}

.brands{
    color: black;
    font-size: 2rem;
   
}

.icon:hover{
    background-image: linear-gradient(to bottom right, #1ed760, #ffffff, #1DB954);

}

.icon:hover .brands{
    color: #201A1E;
    animation: rotate 3s;  
}

@keyframes rotate{
    0%{
        transform: rotate(30deg);
    }
     20%{
        transform: rotate(-30deg);
    }
     40%{
        transform: rotate(30deg);
    }
     60%{
        transform: rotate(-30deg);
    }
     80%{
        transform: rotate(30deg);
    }
     100%{
        transform: rotate(-30deg);
    }
}

footer{
    margin-top: 5%;
    background-color: #1ED760;
    height: 280px;
    box-shadow: 0 0 10px rgba(0, 215, 96, 0.4), 0 0 20px rgba(0, 215, 96, 0.3), 0 0 40px rgba(0, 215, 96, 0.2);
}

#copyright{
    padding-top: 30px;
    text-align: center;
    font-weight: 500;
    font-size: 15px;
}

.upArrow{
    float: right ;
    margin: -40px 20px 20px 0px;
}


::-webkit-scrollbar{
    width: 10px;
    border-radius: 10px;

}

::-webkit-scrollbar-thumb{
    background-color: #1ed760;
    border-radius: 10px;
}

::-webkit-scrollbar-track{
    background-color: #ffffff;
}